Repository getsentry/sentry-cocoa, pull requests merged in 2025-04, with the labels that each got.

#4952 profiling: new continuous profiling API
  CHANGELOG.md
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/xcshareddata/xcschemes/iOS-ObjectiveC.xcscheme
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryLaunchProfiling+Tests.h
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/Profiling/SentryCaptureTransactionWithProfile.mm
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerDefines.h
  Sources/Sentry/Profiling/SentryProfilerSerialization.mm
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentryProfilingConditionals.h
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/SentryCaptureTransactionWithProfile.h
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryInternalDefines.h
  Sources/Sentry/include/SentryLaunchProfiling.h
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfiledTracerConcurrency.h
  Sources/Sentry/include/SentryProfiler+Private.h
  Sources/Sentry/include/SentrySampling.h
  Sources/Sentry/include/SentryTracer+Private.h
  Sources/Sentry/include/SentryTracerConfiguration.h
  Sources/Swift/Integrations/Performance/SentryProfileOptions.swift
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  develop-docs/README.md
Labels: epic, dontmerge

#5084 docs: add discourage use of Swift strings in ObjC to decision log
  develop-docs/DECISIONS.md
Labels: Platform: Cocoa

#5088 chore(file-io): add data and file manager swizzling to enabled features
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Labels: Platform: Cocoa

#5083 fix: add error logging for move current replay to last path
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySessionReplayIntegration.m
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegration+Test.h
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Labels: Platform: Cocoa

#5134 fix(session-replay): Use wider compatible video encoding options
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Labels: Platform: Cocoa, Session Replay, Cocoa

#5133 fix(session-replay): improve frame presentation timing calculations
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Labels: Platform: Cocoa, Session Replay, Cocoa

#5132 refactor(session-replay): add separate method to get video info with more logging
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Labels: Platform: Cocoa, Session Replay, Cocoa

#5135 fix(ci): add existence check for Benchmarking tab bar item
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
Labels: Cocoa

#5054 chore(session-replay): GA of better session replay view renderer V2
  CHANGELOG.md
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift/iOS-SwiftClip/AppDelegate.swift
  Samples/iOS-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryScreenshot.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Tools/ViewCapture/SentryMaskRendererV2.swift
  Sources/Swift/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Tools/ViewCapture/SentryViewRendererV2.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
Labels: Platform: Cocoa, Cocoa
